{% extends "living/base.html" %}
{% block content %}
{% load static %}

<h4 style="text-align:center; margin:20px;">God in Love with Frail Man</h4>

<div class="row" style="margin-left:317px;">
    <a href="{% static 'living/GILWFM.pdf' %}"><img src="{% static 'living/frontpage.jpeg' %}" class="center" style="box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19); width:350px;"></a>
    <a href="{% static 'living/GILWFM.pdf' %}"><img src="{% static 'living/backpage.jpeg' %}" class="center" style="box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19); width:350px;"></a>
</div>

<br>
<br>


    <a href="{% static 'living/GILWFM.pdf' %}"><button class="btn btn-info" style="margin-left:640px;">Read</button></a>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}