{% extends "living/base.html" %}
{% block content %}
{% load static %}

<div class="text-center">
<br>

    <div class="center" style="box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19); width:800px; padding:40px; background-color:#76D7C4; border-radius:20px 0px 20px 0px;">
        <h3><b>Last Wednesday Teaching</b></h3>
        <h5>Title: Preserving and Defending the Truth of the Gospel</h5>
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2Flscchurch%2Fvideos%2F409305994216973%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe></div>

<br>
<br>

    <div class="center" style="box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19); width:800px; padding:40px; background-color:#76D7C4; border-radius:20px 0px 20px 0px;">
        <h3><b>Last Sunday Teaching</b></h3>
        <h5>Title: The Book of Hebrews: Chapter 12 and 13</h5>
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2Flscchurch%2Fvideos%2F1309367066190769%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    </div>

    <br>
    <br>

</div>



{% endblock %}