{% extends "living/base.html" %}
{% block content %}
{% load static %}

<br>

<div class="container-sm">
<h3 style="text-align:center;"><b>Last Wednesday Teaching</b></h3>
<h5 style="text-align:center;">Title: Preserving and Defending the Truth of the Gospel</h5>

<div class="a-container">
    <iframe class="responsive-iframe" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2Flscchurch%2Fvideos%2F409305994216973%2F&show_text=false&width=560&t=0" style="border:4px outset #76D7C4;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
</div>

<br>
<br>

<h3 style="text-align:center;"><b>Last Sunday Teaching</b></h3>
<h5 style="text-align:center;">Title: The Book of Hebrews; Chapter 12 and 13</h5>

<div class="a-container">
    <iframe class="responsive-iframe" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2Flscchurch%2Fvideos%2F1309367066190769%2F&show_text=false&width=560&t=0" style="border:4px outset #76D7C4;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
</div>
</div>


<br>
<br>





{% endblock %}