{% extends "living/base.html" %}
{% block content %}
{% load static %}

<div style="margin:50px;">
    <div class="row" style="margin-top:20px;">
        <div style="padding:10px;" class="the-column">
            <a href="{% url 'tracks' %}"><img src="{% static 'living/Series3.png' %}" class="center" style="box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19); width:100%;"></a>
        </div>

        <div style="padding:10px;" class="the-column">
            <a href="{% url 'tracks' %}"><img src="{% static 'living/Spirit.png' %}" class="center" style="box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19); width:100%;"></a>
        </div>
    </div>
</div>


{% endblock %}
